[Unit]
Description=ContentSecurityPolicyReport
After=multi-user.target

[Service]
Type=forking
User=cspreporting
ExecStart=/usr/bin/env python3 /opt/ContentSecurityPolicyReport/api.py

[Install]
WantedBy=multi-user.target
