asn1crypto
certifi
cffi
chardet
click
cryptography
elasticsearch
Flask
idna
itsdangerous
Jinja2
keyring
keyrings.alt
MarkupSafe
pyasn1
pycparser
pycrypto
pygobject
python-apt
pyxdg
requests
SecretStorage
six
unattended-upgrades
urllib3
virtualenv
Werkzeug
